
.accueil {
    background-image: url(../assets/img/room.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top:10em;
    justify-items: center ;
    align-items: center;
    -webkit-text-stroke: 0.3px white;
}

