a {
    color: rgb (255,255,255,0.8) ;
}

#root {
    font-family: 'NunitoSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

h1 {
    font-weight: 600;
}
h2 {
    font-weight: 600;
}